/* body {
 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.videoTag {
    height: auto;
    width: 100%;
    position: fixed;
    float: left; 
    top: 0;
}
button {
    margin-right: 20px;
    display: inline-block;
    margin-left: auto;
    margin-top: 15px;
    text-align: center;
    
}