/* body {
 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.videoTag {
    height: 100%;
    width: 100%;
    position: fixed;
    float: left; 
    top: 0;
    padding: none;
}
button {
    margin-right: 20px;
}