body {
    background-image: url(https://res.cloudinary.com/delacue/image/upload/v1567529037/RTHbackgroundLarge_wofnlp.jpg);
 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.videoTag {
    height: auto;
    width: 100%;
    position: fixed;
    float: left; 
    top: 0;
}
button {
    margin-right: 20px;
    display: inline-block;
    margin-left: auto;
    margin-top: 30px;
    text-align: center;
    /* border-top: 20px; */
    
}