body {
    background-image: url(https://res.cloudinary.com/delacue/image/upload/v1568044408/bgSVG_bmmj0p.svg);
    background-size: cover;
}

.card {
    border: solid;
    border-color: #3b3b3b;
    text-align: center;
    border-radius: 25px;
    font-family: 'Overpass', sans-serif;
    width: 300px;
    margin-bottom: 15px;
    /* margin-right: 50px; */
    /* font-family: 'Merriweather', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */
}

.card-header {
    background: #15561e;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    font-weight: 900;
    border-radius: 21px 21px 0px 0px !important;
    
    
}

.card-body {
    color: black;
    text-shadow: 1px 1px 2px white;
    font-weight: 200;
    background:  #CDE1B0;
    background-image: url(https://res.cloudinary.com/delacue/image/upload/o_42/v1567998993/windyRoad_h2w8jx.png);
    font-size: 16px;
    background-size: cover;
    /* font-family: 'Overpass', sans-serif; */
     font-family: 'Merriweather', serif;

    
}

.card-footer {
    font-family: 'Overpass', sans-serif;

}
.fa-trash {
    margin-right: 10px;
}

a {
    color: white !important;
}

.btn-secondary {
    background-color: #263238;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border: solid white 2px;
    border-radius: 25px;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 20px;
}