@import url("https://fonts.googleapis.com/css?family=Rubik:300");
html, body {
  
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.sidenav---sidenav---_2tBP {
    background: #52AA5E;
}

.description {
  color: #ecf0f1;
  font-size: 22px;
  line-height: 1.4;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}
.description a,
.description a:hover,
.description a:active,
.description a:focus,
.description a:visited {
  color: #c0cdd1;
  text-decoration: none;
}
.description a:hover {
  border-bottom: 1px solid white;
}

.menu-container {
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.7);
  position: relative;
  -webkit-transform: translate(0);
          transform: translate(0);
  margin: 0 auto;
  width: 350px;
}

.menu-item,
.menu-item--active {
  height: 60px;
  width: 100%;
}

.menu-item {
  align-items: center;
  color: #ecf0f1;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  justify-content: center;
  letter-spacing: 4px;
  text-align: center;
}

.menu-item.active {
    background-color: #53AC5F;
}
.menu-item:nth-of-type(1) {
  background: #52AA5E;
}
.menu-item:nth-of-type(2) {
  background: #458A4F;
}
.menu-item:nth-of-type(3) {
  background:  #3E7847;
}
.menu-item:nth-of-type(4) {
  background:  #35603D;
}
.menu-item:nth-of-type(5) {
  background:  #2B4732;
}

.menu-item--active {
  background: rgb(251, 127, 127);
  border-radius: 2px !important;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5);
  left: 50%;
  padding: 0 7px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 300ms;
  z-index: -1;
}

